.FAQs {
    max-width: 900px;
    margin: auto;
    padding: 20px;
  }
  
  .faq-header {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .faq-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
  }
  
  .faq-title {
    font-size: 18px;
    color: #023c7b; /* blue color */
  }
  
  .faq-content {
    font-size: 16px;
    color: #444;
    margin-top: 10px;
  }
  
 

.feedback-dialog {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between; 
    border-radius: 8px; 
    background-color: #f5f5f5; 
    margin-top: 16px;
}

.thanks-message{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between; 
    border-radius: 8px; 
    background-color: #f5f5f5; 
    margin-top: 16px;
}

.feedback-buttons {
    display: flex;
    gap:8px;
}

.feedback-button {
    background-color: #ffd60a;
    border: none;
    padding: 8px 16px;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.feedback-button:hover {
    background-color: black;
    color: white;
}